/* .............................Nav Bar............................ */

body {
  font-family: sans-serif;
}

.container {
  width: 636px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-header {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-navigation {
  display: inline;
}

.main-menu {
  display: inline;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
}

.main-menu-item {
  display: inline;
  margin-left: 72px;
}

.main-item-special {
  margin-left: 0;
  display: inline;
}

.main-menu-link {
  color: #000;
  font-size: 18px;
  line-height: 135%;
  text-decoration: none;
}

/* ..............................Picture................................. */

.page-body {
  display: inline;
}

.main {
  display: inline;
}

.main-section {
  width: 100%;
  background-color: #04959e;
  padding-top: 92px;
  padding-bottom: 92px;
}

.main-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* .............................Contant............................... */

.container-body {
  width: 856px;
  padding-top: 88px;
  padding-bottom: 88px;
  margin-left: auto;
  margin-right: auto;
}

.content-title {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 135%;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}

.content-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #161616;
  font-size: 21px;
  font-weight: 500;
  line-height: 150%;
}

.content-text-color {
  color: #04959e;
  font-size: 21px;
  font-weight: 600;
}

.content-list {
  color: #161616;
  font-size: 18px;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 40px;
  line-height: 150%;
}

.page-button {
  display: block;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  background-color: #04959e;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 135%;
}

/* ................................Footer............................... */

.footer-container {
  border-top: 1px solid #161616;
}

.footer-text {
  text-align: center;
  color: #161616;
  font-size: 18px;
  line-height: 150%;
}
